.button {
  --color-button: #ffffff;
  --color-bg-color: #3f3f40;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: var(--color-bg-color);
  color: var(--color-button);
  transition: opacity 0.1s ease;

  &:hover {
    opacity: 0.9;
  }
}
